/* basic style */

body {  
    background-color:lightcyan;      
    font-style: normal;      
   }
   
  h1 {
    font-family: 'Pacifico';
    text-shadow: 1px 1px white;
    color: rgb(122, 121, 120);
  }

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
    color: blue;
}

table {
    padding: 20px;;
}

/* Table styöe Class */

table td, th {
    text-align: left;
    padding: 8px;
    border: 0px ;
  }

.table-class, th, td {
    text-align:left;
    padding: 8px;
    border:1px solid #1A202C;
  } 

 /* BUTTON STYLE */

  .button-47 {
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
/* FLEX CONTARINER */

.flex-container {
    display: flex;
    flex-wrap: row;
    text-align: center;
    margin-bottom: 30px;
  }
  .felx-item {
    flex: 1;
    margin-right: 5px;
  }

  .flex-container-footer {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
    
  }