h1{
    color:blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
h2{
    color: rgba(221, 32, 177, 0.876);
    font-family: 'Courier New', Courier, monospace;
}