body {
    background-color: rgba(50, 205, 50, 0.342);
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 22px;
    color: blue ;
}
h2{
    font-size: 20px;
    color: azure;
}

/* Buttob CSS */
<!-- HTML !-->
<button class="button-47" role="button">Button 47</button>

/* CSS */
.button-47 {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}